![](https://github.com/simonscmap/pycmap/blob/master/docs/figures/CMAP.png?raw=true)

<a href="https://colab.research.google.com/github/simonscmap/Workshops/blob/master/SCOPE2022/SCOPE2022.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory">

Mohammad Dehghani Ashkezari, Tansy Burns, Diana Haring, Walker Malling, Rhonda Morales, Ginger Armbrust

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<h1> Selected New Datasets </h1>
</center>

<center>
<img src="datasets.png" width="800" height="600" />
</center>

In [1]:
from IPython.display import IFrame
IFrame('https://simonscmap.com/catalog', width=1400, height=1000)

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<h1> Website Update: </h1>
<br/>    
<h3> Help & Video Tutorials </h3>    
</center>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

In [2]:
IFrame('http://simonscmap.dev/catalog', width=1400, height=1000)

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<h1> Programming Interface: </h1>
<br/>
<h3> Pre-Computed Colocalization with Contemporaneous Ancillary Data </h3>
</center>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

## Version 0.2.14+

In [3]:
# !pip install pycmap -U -q    

import pycmap
api = pycmap.API()
pycmap.__version__

'0.2.14'

## [*datasets_with_ancillary()*](https://github.com/simonscmap/pycmap/blob/master/docs/DatasetsWithAncillary.ipynb)

Returns a dataframe containing the list of data sets that have been automatically colocalized with ancillary variables (mostly environmental).
A growing number of Simons CMAP datasets are being automatically colocalized with a large (100+) number of ancillary parameters derived from satellite and numerical model products.

>**Returns:** 
>>  Pandas dataframe.

In [4]:
api.datasets_with_ancillary()

,Dataset_Name,Table_Name
0,AMT13 Prochlorococcus and Synechococcus Abundance,tblAMT13_Chisholm
1,Bermuda Atlantic Time-series Study (BATS) Bottle,tblBATS_Bottle
2,Bermuda Atlantic Time-series Study (BATS) Bott...,tblBATS_Bottle_Validation
3,MV1015 Prochlorococcus Abundance,tblBottle_Chisholm
4,D284 AMT15 - Atlantic Meridional Transect Flow...,tblD284_AMT15_Flow_Cytometry
5,D294 AMT16 - Atlantic Meridional Transect Flow...,tblD294_AMT16_Flow_Cytometry
6,D299 AMT17 - Atlantic Meridional Transect Flow...,tblD299_AMT17_Flow_Cytometry
7,D371 AMT21 - Atlantic Meridional Transect Flow...,tblD371_AMT21_flow_cytometry
8,DY084 AMT27 - Atlantic Meridional Transect Flo...,tblDY084_AMT27_flow_cytometry
9,DY110 AMT29 - Atlantic Meridional Transect Fl...,tblDY110_AMT29_flow_cytometry
10,Abundance and Carbon Biomass of Pico and Nanop...,tblEN532_EN538_flow_cytometry
11,2018 SCOPE Falkor Cruise Water Column Data,tblFalkor_2018
12,Global Distributions of the Marine Cyanobacter...,tblFlombaum
13,Picophytoplankton biomass distribution in the ...,tblGlobal_PicoPhytoPlankton
14,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",tblHOE_legacy_2A
15,HOT and BATS Prochlorococcus Abundance Time-se...,tblHOT_BATS_Prochlorococcus_Abundance
16,Bottle Data HOT,tblHOT_Bottle
17,HOT Flow Cytometry Time-series 2002-2007,tblHOT_Flow_Cytometry_Time_Series
18,"2018 Life Aquatic in the Volcanic Aftermath, W...",tblHOT_LAVA
19,HOT Primary Production and Flow Cytometry,tblHOT_PP
20,JC039 AMT19 - Atlantic Meridional Transect Flo...,tblJC039_AMT19_flow_cytometry
21,JC053 AMT20 - Atlantic Meridional Transect Flo...,tblJC053_AMT20_flow_cytometry
22,JC079 AMT22 - Atlantic Meridional Transect Flo...,tblJC079_AMT22_flow_cytometry
23,JR15001 AMT25 - Atlantic Meridional Transect F...,tblJR15001_AMT25_flow_cytometry
24,JR16001 AMT26 - Atlantic Meridional Transect F...,tblJR16001_AMT26_flow_cytometry
25,JR18001 AMT28 - Atlantic Meridional Transect F...,tblJR18001_AMT28_flow_cytometry
26,JR19980514 AMT06 - Atlantic Meridional Transe...,tblJR19980514_AMT06_Flow_Cytometry
27,JR20030512 AMT12 - Atlantic Meridional Transec...,tblJR20030512_AMT12_Flow_Cytometry
28,JR20030910 AMT13 - Atlantic Meridional Transec...,tblJR20030910_AMT13_Flow_Cytometry
29,JR20040428 AMT14 - Atlantic Meridional Transec...,tblJR20040428_AMT14_Flow_Cytometry
30,JR20081003 AMT18 - Atlantic Meridional Transec...,tblJR20081003_AMT18_flow_cytometry
31,JR20131005 AMT23 - Atlantic Meridional Transec...,tblJR20131005_AMT23_flow_cytometry
32,JR20140922 AMT24 - Atlantic Meridional Transec...,tblJR20140922_AMT24_flow_cytometry
33,KM0704 CMORE BULA Bottle,tblKM0704_CMORE_BULA_Bottle
34,KM0704 CMORE-BULA Underway Samples,tblKM0704_CMORE_BULA_Underway_Samples
35,HOE Legacy 2A - KM1513 - Diazotroph Abundance,tblKM1513_HOE_legacy_2A_Diazotroph_Abundance
36,2017 Microbial Ecology of the Surface Ocean - ...,tblKM1709_mesoscope
37,Discrete flow cytometry from the Gradients 201...,tblKM1906_Gradients_3_Influx_Stations
38,Discrete flow cytometry of underway samples fr...,tblKM1906_Gradients_3_Influx_Underway
39,Picophytoplankton Abundance from the R/V Roger...,tblKNOX22RR_flow_cytometry
40,Discrete flow cytometry from the Gradients 201...,tblKOK1606_Gradients_1_Influx_Stations
41,Gradients1-KOK1606 Diazotroph Abundance,tblKOK1606_Gradients1_DiazotrophAbundance
42,"Abundance of Picophytoplankton, Heterotrophic ...",tblLA35A3_flow_cytometry
43,Discrete flow cytometry from the Gradients 201...,tblMGL1704_Gradients_2_Influx_Stations
44,Gradients 2 - MGL1704 - Imaging Flow Cytobot -...,tblMGL1704_Gradients2_IFCB_Abundance
45,Abundance of Picophytoplankton Fixed Samples u...,tblMV1008_flow_cytometry_fixed
46,Heterotrophic Bacteria Abundance using Flow Cy...,tblMV1008_flow_cytometry_heterotrophic
47,Abundance of Picophytoplankton Live Samples us...,tblMV1008_flow_cytometry_live
48,Phytoplankton Diversity and C and N Uptake Rat...,tblRR1604_Flow_Cytometry_Mass_Spec
49,"SeaFlow-based abundance, cell size, carbon q...",tblSeaFlow

## [*get_dataset_with_ancillary(tableName)*](https://github.com/simonscmap/pycmap/blob/master/docs/RetrieveDatasetWithAncillary.ipynb)

Returns the entire dataset joined with colocalized ancillary variables. The ancillary variable names are prefixed with `CMAP_`.
<br/>Note that this method does not return the dataset metadata. Use the get_dataset_metadata method to get the dataset metadata.




> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [Data Catalog](https://simonscmap.com/catalog).
>> <br />

>**Returns:** 
>>  Pandas dataframe.

### Example:
Returns the unit of the short name variable, silica_hot, in the HOT Particle Flux dataset.

In [5]:
df = api.get_dataset_with_ancillary('tblKM1709_mesoscope')
df

,time,lat,lon,depth,Station,Cast,RosPos,CTD_Temperature,CTD_Salinity,CTD_Oxygen,...,CMAP_p_an_clim_tblWOA_2018_1deg_Climatology,CMAP_p_mn_clim_tblWOA_2018_1deg_Climatology,CMAP_C_an_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_C_mn_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_s_an_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_s_mn_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_t_an_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_t_mn_clim_tblWOA_2018_qrtdeg_Climatology,CMAP_M_an_clim_tblWOA_2018_MLD_qrtdeg_Climatology,CMAP_M_mn_clim_tblWOA_2018_MLD_qrtdeg_Climatology
0,2017-06-26T21:06:50,21.190,-157.742,101.1,1,1,2,22.816,35.112,208.7,...,0.890093,NaN,4.699898,NaN,34.714750,NaN,19.083453,19.059564,45.249364,NaN
1,2017-06-26T21:06:59,21.190,-157.742,101.1,1,1,3,22.816,35.112,208.7,...,0.890093,NaN,4.699898,NaN,34.714750,NaN,19.083453,19.059564,45.249364,NaN
2,2017-06-26T21:07:02,21.190,-157.742,100.6,1,1,4,22.818,35.111,208.8,...,0.890093,NaN,4.699898,NaN,34.714750,NaN,19.083453,19.059564,45.249364,NaN
3,2017-06-26T21:07:12,21.190,-157.742,100.0,1,1,5,22.820,35.111,208.8,...,0.890093,NaN,4.699898,NaN,34.714750,NaN,19.083453,19.059564,45.249364,NaN
4,2017-06-26T21:07:17,21.190,-157.742,101.3,1,1,6,22.814,35.112,208.7,...,0.890093,NaN,4.699898,NaN,34.714750,NaN,19.083453,19.059564,45.249364,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,2017-07-12T14:00:32,26.553,-158.565,15.4,17,32,20,26.136,35.226,208.2,...,0.767480,NaN,4.175309,4.164142,34.721129,34.713391,13.653177,13.482251,40.082746,52.0
2142,2017-07-12T14:00:41,26.553,-158.565,15.2,17,32,21,26.136,35.226,208.2,...,0.767480,NaN,4.175309,4.164142,34.721129,34.713391,13.653177,13.482251,40.082746,52.0
2143,2017-07-12T14:00:51,26.553,-158.565,15.1,17,32,22,26.137,35.226,208.2,...,0.767480,NaN,4.175309,4.164142,34.721129,34.713391,13.653177,13.482251,40.082746,52.0
2144,2017-07-12T14:03:16,26.553,-158.565,6.0,17,32,23,26.135,35.226,208.1,...,0.767480,NaN,4.175309,4.164142,34.721129,34.713391,13.653177,13.482251,40.082746,52.0
2145,2017-07-12T14:03:26,26.553,-158.565,5.8,17,32,24,26.135,35.226,208.2,...,0.767480,NaN,4.175309,4.164142,34.721129,34.713391,13.653177,13.482251,40.082746,52.0

In [6]:
df.to_csv('withAncillary.csv', index=False)