<!--NAVIGATION-->
< [Catalog](Catalog.ipynb) | [Index](Index.ipynb) | [Datasets](Datasets.ipynb) >

<a href="https://colab.research.google.com/github/simonscmap/pycmap/blob/master/docs/SearchCatalog.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

<a href="https://mybinder.org/v2/gh/simonscmap/pycmap/master?filepath=docs%2FSearchCatalog.ipynb"><img align="right" src="https://mybinder.org/badge_logo.svg" alt="Open in Colab" title="Open and Execute in Binder"></a>

## *search_catalog(keywords)*


Returns a dataframe containing a subset of Simons CMAP catalog of variables. 

All variables at Simons CMAP catalog are annotated with a collection of semantically related keywords. This method takes the passed keywords and returns all of the variables annotated with similar keywords. The passed keywords should be separated by blank space. The search result is not sensitive to the order of keywords and is not case sensitive. The passed keywords can provide any 'hint' associated with the target variables. Below are a few examples: 

* the exact variable name (e.g. NO3), or its linguistic term (Nitrate) 
* methodology (model, satellite ...), instrument (CTD, seaflow), or disciplines (physics, biology ...) 
* the cruise official name (e.g. KOK1606), or unofficial cruise name (Falkor) 
* the name of data producer (e.g Penny Chisholm) or institution name (MIT) 

<br />If you searched for a variable with semantically-related-keywords and did not get the correct results, please let us know. We can update the keywords at any point.

> **Parameters:** 
>> **keywords: string**
>>  <br />Search keywords separated by a blank space. The search result is not sensitive to the order of keywords and is not case sensitive. 


>**Returns:** 
>>  Pandas dataframe.

### Example 1
List of all measurements by University of Hawaii hosted by Simons CMAP.

In [1]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API(token='19e91d80-ae64-12e9-8f77-f3e8f5c1f730')
api.search_catalog('University of Hawaii')

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Name,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords
0,Alkalinity,tblHOE_legacy_2A,Titration Alkalinity,ueq/kg,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",KM1513_HOE_Legacy_2A,"University of Hawaii, Manoa","University of Hawaii, Manoa",The objective of the cruise was to deploy and ...,NaN,100,1994,1.0,"BioGeoChemistry, Core Data, cruise, Diel, Gran..."
1,Bottle_Oxygen,tblHOE_legacy_2A,Bottle Dissolved Oxygen,umol/kg,Observation,In-Situ,Reprocessed,Biology,Irregular,Irregular,...,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",KM1513_HOE_Legacy_2A,"University of Hawaii, Manoa","University of Hawaii, Manoa",The objective of the cruise was to deploy and ...,NaN,100,1992,1.0,"biology, Bottle Dissolved Oxygen, Core Data, c..."
2,Cast,tblHOE_legacy_2A,Cast Number,#,Observation,In-Situ,Reprocessed,Uncategorized,Irregular,Irregular,...,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",KM1513_HOE_Legacy_2A,"University of Hawaii, Manoa","University of Hawaii, Manoa",The objective of the cruise was to deploy and ...,NaN,100,1984,NaN,"Cast Number, Core Data, cruise, Diel, HOE-Lega..."
3,Chlorophyll,tblHOE_legacy_2A,Fluorometric Chlorophyll,ug/l,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",KM1513_HOE_Legacy_2A,"University of Hawaii, Manoa","University of Hawaii, Manoa",The objective of the cruise was to deploy and ...,NaN,100,2005,1.0,"10-AU, BioGeoChemistry, Core Data, cruise, Die..."
4,CTD_Chloropigment,tblHOE_legacy_2A,CTD Chloropigment,ug/l,Observation,In-Situ,Reprocessed,Physics,Irregular,Irregular,...,"2015 Hawaii Ocean Experiment - Legacy 2A, Wate...",KM1513_HOE_Legacy_2A,"University of Hawaii, Manoa","University of Hawaii, Manoa",The objective of the cruise was to deploy and ...,NaN,100,1989,1.0,"Core Data, cruise, CTD, CTD Oxygen, Diel, HOE-..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,PAR,tblMESOSCOPEb_Wirewalker,"Photosynthetically available radiation, downwa...",Âµmol m-2 s-1,Observation,Radiometer,Reprocessed,Uncategorized,1/6 s,Irregular,...,Wirewalker_MESOSCOPEb_Level1,WW_MESOSCOPEb_L1,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,256,3460,1.0,"autonomous, downward cosine irradiance, drifte..."
1318,potential_density_anomaly,tblMESOSCOPEb_Wirewalker,Potential density anomaly wrt 0 db,kg m-3,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,Wirewalker_MESOSCOPEb_Level1,WW_MESOSCOPEb_L1,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,256,3456,1.0,"autonomous, drifter, in-situ, Karl, KM1709, La..."
1319,practical_salinity,tblMESOSCOPEb_Wirewalker,Practical salinity,NaN,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,Wirewalker_MESOSCOPEb_Level1,WW_MESOSCOPEb_L1,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,256,3455,1.0,"autonomous, drifter, in-situ, Karl, KM1709, La..."
1320,pressure,tblMESOSCOPEb_Wirewalker,Pressure,db,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,Wirewalker_MESOSCOPEb_Level1,WW_MESOSCOPEb_L1,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,256,3451,1.0,"autonomous, drifter, in-situ, Karl, KM1709, La..."
1321,temperature,tblMESOSCOPEb_Wirewalker,Temperature,Â°C,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,Wirewalker_MESOSCOPEb_Level1,WW_MESOSCOPEb_L1,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,256,3452,1.0,"autonomous, drifter, in-situ, Karl, KM1709, La..."

### Example 2
Returns a list of Nitrite measurements during the Falkor cruise, if exists.

In [2]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API()
api.search_catalog('nitrite falkor')

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Dataset_Name,Dataset_Short_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords
0,NO3_NO2,tblFalkor_2018,Nitrate plus Nitrite,umol/kg,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"2018 SCOPE Falkor Cruise, Water Column Data",Falkor_2018,"University of Hawaii, Manoa","University of Hawaii, Manoa",The 2018 SCOPE-Falkor Cruise was built on the ...,NaN,99,1404,1,"Autoanalyzer, Core Data, cruise, FK180310, Nit..."

### Example 3
Returns a list of optical measurements during the Gradients 1 cruise (KOK1606), if exists.

In [ ]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API(token='<YOUR_API_KEY>')
api.search_catalog('optics KOK1606')

<img src="figures/sql.png" alt="SQL" align="left" width="40"/> 
<br/>
### SQL Statement
Here is how to achieve the same results using a direct SQL statement. Please refere to [Query](Query.ipynb) for more information.

<code>EXEC uspSearchCatalog 'space-separated keywords'</code><br/><br/>
**Example:**<br/> 
List of satellite Chlorophyll products:<br/><br/>
<code>EXEC uspSearchCatalog 'chl satellite'</code><br/>